<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>File Uploader</h1>
    <form ref="uploadForm"
    id="uploadForm"
    action="https://fileuploader.glitch.me/upload"
    method="post"
    enctype="multipart/form-data">
      <input type="file" name="sampleFile" />
      <input type="submit" value="Upload!" />
      
  <p>
    A simple file uploader,just load the file you want and click the upload button !...whoola..the file size will be revealed
      </p>
  </form>     
</body>
</html>